body{
	font:	15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/*SEMUA*/
.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*HEADER*/
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid; 
}

header a{
	color: #ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
	margin-top: 10px;
}

header nav{
	float: right;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/*ARTIKEL*/
#showcase{
	min-height: 400px;
	background: url('../img/img2.jpg') no-repeat 0 0px;
	text-align: center;
	color: #ffffff;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

#newsletter{
	padding: 15px;
	color: #ffffff;
	background: #35424a;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;

}

/*KOTAK*/
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	padding:10px;
}

#boxes .box img{
	width: 90px;
}

aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}

article#main-col{
	float: left;
	width: 65%;
}


footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;

}


/*

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size: 13px;
}


/*Content, BOX, Hoverbox*/

/*

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(../img/img2.jpg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%
	max-width: none;
}
.content{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h2{
	font-family: 'Raleway', sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 500%;
}
.btn{
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #000;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #000 3px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover{
	color: #fff;
	border: solid #fff 3px;
}
.content2{
	max-width: 500px;
	margin: 0 auto;
	text-align: justify-all;
}
.btn2{
	border-radius: 90px;
	font-family: 'Oswald', sans-serif;
	color: #000;
	font-size: 135%;
	padding: 5px 20px;
	border: solid #000 3px;
	text-transform: uppercase;
	text-decoration: none;

}
.btn2:hover{
	color: #fff;
	border: solid #fff 3px;
}
/*Content, BOX, Hoverbox*/

/*FONT STYLE*/

/*

pp{
	font-size: 80%;
	line-height: 210%;
	text-align: justify;
	margin: 3%;
	font-family: sans-serif;
	letter-spacing: 1px;
	word-spacing: 10px;
}
@media screen and (max-width: 768px){
	.content h2{
		font-size: 250%;
	}
	.btn{
		font-size: 110%;
		padding: 7px 15px;
	}
	pp{
		font-size: 250%;
		line-height: 160%;
	}
}

h1{
    color: black;
    text-align: center;
}
p{
    font-family: verdana;
    font-size: 14px;
    text-align: justify-all;
    padding: 5px;
}
/*FONT STYLE*/

/*TABEL WRAP*/

/*

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 0.5em;
	grid-row-gap: 0.5em; 
	align-items: stretch;
}
.wrapper > div{
	background: #eee;
	padding: 1em;
}
.wrapper > div:nth-child(odd){
	background: #ddd;
}
.kotakimg{
	grid-column: 1/4;
	grid-row: 1; 
}
.kotakmenu{
	grid-column: 1/4;
	grid-row: 2; 
}
.kotakbody{
	grid-column: 1/3;
	grid-row: 3; 
}
.kotak3{
	grid-column: 3/3;
	grid-row: 3; 
}
.kotakfooter{
	grid-column: 1/4;
	grid-row: 4; 
}
/*TABEL WRAP*/

